{{ define "main" }}
<div class="posts-list">
  {{ with .Content }}<div class="index-content">{{ . }}</div>{{ end }}

  <div class="post-stream projects-stream">
    {{ range .Pages }}
    <article class="post-item">
      <div class="post-item__body">
        <div class="post-item__header">
          <a class="post-item__title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          {{ with .Params.github }}<a class="project-github" href="{{ . }}" target="_blank" rel="noopener">{{ os.ReadFile "static/icons/github.svg" | safeHTML }}</a>{{ end }}
        </div>
        {{ with .Description }}<p class="post-item__desc">{{ . }}</p>{{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}
